#faq{
    width:60%;
    padding:15vh 20%;
    min-height:80vh;
    background:white;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}
.faq-card{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    margin-top:4vh;
    margin-bottom:0.5vh;
}
.faq-card-ans{
    width:94%;
    display:flex;
    background:#2e2e2e;
    color:rgb(241, 241, 241);
    padding:2vh 3%;
    border-radius:3px;
    align-items:center;
    justify-content:flex-start;
    margin:0;
}
.fixer-text{
    color:white;
}
.faq-card h1{
    margin:0;
    font-size:50px;
    font-weight:500;
    color:#616161;
    font-family: 'Philosopher', sans-serif;
}
.faq-card p{
    margin-left:2vh;
    border-left:1px solid black;
    padding-left:2vh;
}
.faq-card i{
    cursor:pointer;
    font-size:18px;
    margin:0 1vh;
    margin-bottom:2vh;
    color:#616161;
}
@media screen and (max-width:1400px){
    #faq{
        width:70%;
        padding:10vh 15%;
    }
}
@media screen and (max-width:1200px){
    #faq{
        width:80%;
        padding:10vh 10%;
    }
}
@media screen and (max-width:1000px){
    #faq{
        width:90%;
        padding:10vh 5%;
    }
    .facilities-cards{
        width:47%;
        text-align:left;
        margin-right:3%;
        display:flex;
        flex-direction:column;
        margin-bottom:6vh;
    }
}
@media screen and (max-width:700px){
    .faq-card h1{
        font-size:30px;
    }
    .faq-card p{
       font-size:14px;
    }
    .faq-card{
        margin-top:2vh;
    }
}