#facilities{
    min-height:60vh;
    width:60%;
    padding:15vh 20%;
    background:#131313;
    color:white;
    display:flex;
    flex-direction:column;
    padding-bottom:7vh;
}
.h-gold{
    color:#AF9D5E;
}
.p-yellow{
    color:#ABA996;
}
.facilities-wrapper{
    margin:7vh 0;
    display:flex;
    min-height:30vh;
    /* background:pink; */
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
}
.facilities-cards{
    width:40%;
    text-align:left;
    margin-right:10%;
    display:flex;
    flex-direction:column;
    margin-bottom:6vh;
}
.facilities-cards h3{
   color:#4E462B;
   margin:0;
   font-size:20px;
}
.facilities-cards p{
    color:#fffbd442;
    margin:1vh 0;
 }
@media screen and (max-width:1400px){
    #facilities{
        width:70%;
        padding:10vh 15%;
    }
}
@media screen and (max-width:1200px){
    #facilities{
        width:80%;
        padding:10vh 10%;
    }
}
@media screen and (max-width:1000px){
    #facilities{
        width:90%;
        padding:10vh 5%;
    }
    .facilities-cards{
        width:47%;
        text-align:left;
        margin-right:3%;
        display:flex;
        flex-direction:column;
        margin-bottom:6vh;
    }
}
@media screen and (max-width:700px){
    .facilities-cards{
        width:55%;
        text-align:left;
        margin-right:0;
        display:flex;
        flex-direction:column;
        margin-bottom:6vh;
    }
}

/* p #FFFBD4 */
/* h3 #4E462B */
/* pmain #ABA996 */
