#testimonials{
    width:100%;
    padding:7vh 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:#F3F3F3;
}
.dots-testimonial{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.dots-testimonial span {
    height:2vh;
    width:2vh; 
    margin:0 0.5vh;
    cursor:pointer;
    background:rgb(187, 187, 187);
    border-radius:2vh;
}
.selected{
    background:black !important;
}
#testimonials i{
    margin-top:5vh;
   font-size:30px;
   margin-bottom:5vh;
}
.testimonial-card{
    display:flex;
    flex-direction:column;
    text-align:center;
    margin-bottom:5vh;
}
.testimonial-card h3{
    font-size:23px;
    font-weight:400;
    padding:1vh 3vh;
    margin:0;
}
.underline{
    width:80px;
    height:2px;
    background:black;
    margin:auto;
    border-radius:3px;
    margin-bottom:2vh;
}
.testimonial-card p{
    width:50%;
    margin:auto;
    margin-bottom:5vh;
}
@media screen and (max-width:900px){
    .testimonial-card p{
        width:70%;
    }
}
@media screen and (max-width:700px){
    .testimonial-card p{
        width:85%;
    }
}