@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
body {
  margin: 0;
  font-family:'Playfair Display', serif, 'Quicksand', sans-serif;;
}
.comp-containers{
  min-height:100vh;
}
::-webkit-scrollbar {
  width:5px;
}
::-webkit-scrollbar-track {
  background: #c5c5c5;
}
::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 61);
  border-radius: 4px;
}
.clickable{
  cursor:pointer;
}
.heading{
  margin:0;
  font-family:'Playfair Display', serif;
  font-size:45px;
  font-weight:700;
}